<%- include('./partials/header.ejs') %>
  <%- include('./partials/navbar.ejs') %>
  <div class="container">
    <div class="card mt-5">
      <div class="card-header">
        <h1>Titulo</h1>
      </div>
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dicta magni repellendus adipisci, voluptas omnis dolor vel harum ipsam, deserunt quia velit dolorem facere. Eius animi facere tenetur a repudiandae!
        </p>
      </div>
    </div>
  </div>
<%- include('./partials/footer.ejs') %>
